@import url('https://fonts.googleapis.com/css?family=Raleway');

.content {
  min-height: calc(100vh - 170px);
}

.container {
  margin-bottom: 20px;
}

.containershow {
  margin-left: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  vertical-align: middle;
  margin-bottom: 20px;
}


.flex-itemshow {
  margin-top: 176px;
  margin-right: 100px;
}

.flex-item2 {
  margin-right: 50px;
  margin-top: 43px;
}

  #reviews {
  }

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Raleway', sans-serif !important;
}
