<div class="container-fluid flex">

  <figure class="snip1218">
    <div class="image"><img src="https://avatars0.githubusercontent.com/u/30414528?s=460&v=4" alt="sample70"/>
     <p>Ruby Rules</p>
    </div>
    <figcaption>
      <h3>Julien</h3>
      <h3><span>Martin</span></h3>
      <h5>Developper</h5>
      <div class="icons"><a href="https://github.com/julienm71" target="_blank"><i class="fa fa-github"></i></a></div>
    </figcaption>
  </figure>

  <figure class="snip1218">
    <div class="image"><img src="https://avatars0.githubusercontent.com/u/34140824?s=460&v=4" alt="sample79"/>
      <p>Ruby Rules</p>
    </div>
    <figcaption>
      <h3>Mateo</h3>
      <h3><span>Electorat</span></h3>
      <h5>Developper</h5>
      <div class="icons"><a href="https://github.com/the6thleaf" target="_blank"><i class="fa fa-github"></i></a></div>
    </figcaption>
  </figure>

  <figure class="snip1218">
    <div class="image"><img src="https://avatars3.githubusercontent.com/u/36888961?s=460&v=4" alt="sample80"/>
      <p>Ruby Rules</p>
    </div>
    <figcaption>
      <h3>Florian</h3>
      <h3><span>Hamel</span></h3>
      <h5>Developper</h5>
      <div class="icons"><a href="https://github.com/Amrian64" target="_blank"><i class="fa fa-github"></i></a></div>
    </figcaption>
  </figure>

  <figure class="snip1218">
    <div class="image"><img src="https://avatars3.githubusercontent.com/u/37809545?s=460&v=4" alt="sample80"/>
      <p>Ruby Rules</p>
    </div>
    <figcaption>
      <h3>Benjamin</h3>
      <h3><span>Velay</span></h3>
      <h5>Developper</h5>
      <div class="icons"><a href="https://github.com/benjaminvelay" target="_blank"><i class="fa fa-github"></i></a></div>
    </figcaption>
  </figure>

</div>
