<div class="container-fluid">
  <% @reservations.each do |reservation| %>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
      <div class="card-reservations" style="background-image: url('<%= cl_image_path reservation.place.photo %>');">
        <h3><%= reservation.place.name %></h3>
        <h3><%= reservation.reserved_at %></h3>
      </div>
    </div>
  <% end %>
</div>
