.bannershow {
  color: white;
  text-align: center;
  height: 450px;
  background-size: cover !important;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
