.card {
  height: 150px;
  border-radius: 1px;
  margin: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 25px;
  font-weight: bolder;
  text-shadow: 0 0 10px rgba(0,0,0,0.7);
  a {
    color: white;
    text-decoration: none;
  }
  &:hover {
    opacity:0.7;
  }
}
