.container {
}

.map-layout {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}

.map-container {

  // .pending-map {
  //   border-radius: 1px;
  //   padding-top: 0;
  //   padding-left: 10%;
  //   padding-right: 10%;
  //   position: static;
  //   vertical-align: middle;
  //   display: table-cell;
  // }
}

#map {
  width: 700px;
  height: 100vh;
  position: sticky !important;
  top: 0;
}

.thumbnail:hover {
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.45);
}

.thumbnail p {
  color:black;
  margin:0;
  padding:0;
  color: #616668;
  margin-bottom:5px;
}
