.container {
}

.map-layout {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}

.map-container {

  // .pending-map {
  //   border-radius: 1px;
  //   padding-top: 0;
  //   padding-left: 10%;
  //   padding-right: 10%;
  //   position: static;
  //   vertical-align: middle;
  //   display: table-cell;
  // }
}

#map {
  width: 700px;
  height: 100vh;
  position: sticky !important;
  top: 0;
}
