
<div class="map-layout">
  <div class="cards-container">
    <div class="container-fluid">
      <div class="row">
        <% @places.each do |place| %>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
            <div class="card" style="background-image: url('<%= cl_image_path place.photo, height: 300, width: 400, crop: :fill %>')">
              <p><%= link_to place.name, place_path(place.id) %></p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="map-container hidden-xs">
    <div id="map" data-markers="<%= @markers.to_json %>"></div>
  </div>
</div>
