
<div class="bannershow" style="background-image: url(<%= @place.photo %>);">

</div>



<h2> <%= @place.name %> </h2>
<%= @place.description %>
<%= @place.address %>


<div class="flatpickr-calendar">
  <input type="date", id="myID">
</div>
